.shadowContainer {
    width: 100%;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-bottom: 20px;
    display: table;
}

.priority {
    display: table-cell;
    width: 20px;
    height: 60px;
}

.todoCheckBox {
    display: table-cell;
    vertical-align: middle;
}

.todoText {
    display: table-cell;
    vertical-align: middle;
}

.todoTrash {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}

.trashButton {
    border: none;
    background-color: #FFF;
    cursor: pointer;
}

.textDone {
    text-decoration: line-through;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    border: 1px solid #999;
    background-color: white;
    line-height: 9px;
    left: 20px;
    top: -7px
}

input[type=checkbox]:checked + label:before {
    content: "x";
}

.checkbox label {
    cursor: pointer;
    position: relative;
}




